@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= GLOBAL ================= */

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #030712;
  color: white;
  font-family: Inter, sans-serif;
}

/* ================= SCROLLBAR ================= */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}

/* ================= INPUTS ================= */

input,
select,
textarea {
  outline: none;
}

/* ================= BUTTON ================= */

button {
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.9;
}

/* ================= TABLE ================= */

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 12px;
}